.breadcrumbs {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.breadcrumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
  text-transform: uppercase;
}
.breadcrumb:not(:last-child)::after {
  content: '';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid var(--brand-color);
  width: 0;
  height: 0;
}
.breadcrumb a {
  font-weight: 600;
  color: var(--text-color);
}

.fullbleed-section .breadcrumbs-wrapper {
  padding: 0 16px;
}

@media (min-width: 600px) {
  .fullbleed-section .breadcrumbs-wrapper {
    padding: 0 32px;
  }
}
