.definition {
  border-radius: 0.5rem;
  background-color: #ebebeb;
  padding: 2rem;
}

.definition > div:last-of-type {
  margin-top: 2rem;
  font-weight: 600;
  font-style: italic;
}

.definition > div:first-of-type div {
  padding: 0 1rem;
  font-size: var(--heading-font-size-xl);
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.3;
}

.definition > div:first-of-type div::after {
  content: '';
  display: block;
  margin-top: 1rem;
  width: 7rem;
  height: 2px;
  background-color: var(--brand-color);
}

.definition p {
  margin: 0;
}

