.carousel-wrapper.fullbleed-wrapper {
  width: 100vw;
  margin-left: calc(0px - var(--section-padding));
  margin-right: calc(0px - var(--section-padding));
}

.carousel {
  width: inherit;
}

.carousel img {
  display: block;
  width: 100%;
  height: 400px;
  object-position: center;
  object-fit: cover;
  border-radius: 0;
}

.carousel.hero img {
  height: 65vw;
  max-height: 650px;
}

.carousel-item {
  display: none;
  position: relative;
}
.carousel-item.carousel-item--visible {
  display: block;
}

.carousel-item .carousel-content {
  position: static;
  padding: 1rem var(--section-padding) 0;
  border-radius: 8px 8px 0 0;
  background-color: var(--background-color);
}

.carousel-content > p:nth-of-type(1) {
  /* line-clamp: 3 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: initial;
}

.carousel-content > * {
  margin: 0;
}
.carousel-content > :where(h1, h2, h3, h4, h5, h6) > a {
  color: var(--text-color);
}
.carousel-content > :where(h1, h2, h3, h4, h5, h6) > a:hover {
  text-decoration: none;
}
.carousel-content p.button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}
.carousel-content a.button {
  font-size: var(--heading-font-size-s);
  margin: 0;
}

.carousel-controls {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 1rem auto 0;
  padding: 0 var(--section-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-controls :where(.bullets, .nav-buttons) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-controls .nav-buttons {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.carousel-controls button.bullet-btn,
.carousel-controls button.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: transparent;
  font-size: 2.25rem;
  width: auto;
  height: 1.5rem;
  padding: 0;
  border: 0;
  margin: 0;
}

.carousel-controls button.bullet-btn {
  width: 1rem;
  color: var(--text-color);
  opacity: 0.5;
}
.carousel-controls button.bullet-btn--active {
  opacity: 1;
}

.carousel-controls button.nav-btn {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .carousel-item .carousel-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 0 auto;
    padding-bottom: 2rem;
    max-width: min(1200px, calc(100vw - 2 * var(--section-padding)));
  }
}
