footer {
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--text-color);
  font-size: 0.875rem;
  color: white;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer h4 {
  color: white;
}

footer .footer a {
  color: white;
  text-decoration: underline;
}

.footer-links {
  margin-bottom: 3rem;
}

.footer-links > div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem 5rem;
}

footer .footer-links a {
  text-decoration: none;
}

.footer-links > div > div:first-of-type img {
  width: 128px;
  height: auto;
  object-position: center;
  object-fit: cover;
}

.footer-links > div > div:nth-of-type(2) {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
@media (min-width: 600px) {
  .footer-links > div > div:nth-of-type(2) {
    flex-flow: row nowrap;
    gap: 1rem;
  }
}
.footer-links > div > div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-links > div > div:nth-of-type(2) a {
  text-transform: uppercase;
}
.footer-links > div > div:nth-of-type(2) a:hover {
  text-decoration: underline;
}

.footer-links > div > div:nth-of-type(3) {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 2px;
}
@media (min-width: 900px) {
  .footer-links > div > div:nth-of-type(3) {
    justify-content: end;
  }
}

.footer-links > div > div:nth-of-type(3) h4 {
  margin: 0;
  margin-right: 1rem;
}
.footer-links > div > div:nth-of-type(3) a {
  border-radius: 4px;
  padding: 0.8rem 1rem;
  background-color: #fff;
  color: var(--text-color);
  text-decoration: none;
  text-transform: lowercase;
}

.copy {
  margin-top: 2rem;
  font-size: var(--body-font-size-xxs);
}
