/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* fonts */
  --heading-font-family: Asar, Asar-fallback, Georgia, Times New Roman, Times,
    serif;
  --body-font-family: "Source Sans Pro", "Source Sans Pro-fallback",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono",
    monospace;

  /* colors */
  --text-color: #202020;
  --link-color: #0045ff;
  --link-hover-color: #0045ff;
  --background-color: #ffffff;
  --overlay-background-color: #eeeeee;
  --highlight-background-color: #cccccc;

  /* brand */
  --brand-color: #ffea00;

  /* sizes */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 10px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12px;

  --nav-height: 96px;
  --section-padding: 16px;
}

@media (min-width: 600px) {
  :root {
    --section-padding: 32px;
  }
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 40px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 16px;
    --heading-font-size-s: 14px;
    --heading-font-size-xs: 10px;
    --nav-height: 180px;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.8;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202020;
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h4,
h5,
h6 {
  font-family: var(--body-font-family);
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}
h2 {
  font-size: var(--heading-font-size-xl);
}
h3 {
  font-size: var(--heading-font-size-l);
}
h4 {
  font-size: var(--heading-font-size-m);
}
h5 {
  font-size: var(--heading-font-size-s);
}
h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

strong {
  font-weight: 600;
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--brand-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:disabled,
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
  display: inline-block;
}

main .section {
  padding: 0 var(--section-padding);
}
.main .section > div {
  content-visibility: auto;
}

@media (min-width: 900px) {
  main {
    margin: 0 auto;
  }

  .section > :where(div) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* progressive section appearance */
main .section[data-section-status="loading"],
main .section[data-section-status="initialized"] {
  display: none;
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

hr.separator {
  margin: 4rem 0;
}

/* Custom styles */
.hidden {
  display: none;
}

/* Homepage */
.homepage .featured-article-wrapper {
  margin: 2.5rem auto;
}

/* Magazine homepage */
.magazine-homepage .featured-article-wrapper {
  margin: 0 auto;
}

/* Magazine article */
.magazine main {
  max-width: 1200px;
}

@media (min-width: 900px) {
  .magazine main {
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 280px;
    grid-template-areas:
      "hero hero"
      "main side"
      "author side";
    column-gap: 4rem;
  }
}

.magazine .section.hero-container {
  grid-area: hero;
}

.magazine .section.author-container {
  grid-area: author;
}

.magazine .section.download-container,
.magazine .section.related-articles-container {
  grid-area: side;
}

.magazine .featured-article-wrapper {
  margin: 5rem auto;
}

.magazine :where(h2, h3)::after {
  content: "";
  display: block;
  width: 7rem;
  height: 2px;
  background-color: var(--brand-color);
}

/* Adventure article */
.adventure main {
  display: grid;
  grid-template-rows: auto minmax(auto, 80px) auto;
  grid-template-columns:
    clamp(0px, calc((100vw - 1200px) / 2), 100vw)
    280px auto
    clamp(0px, calc((100vw - 1200px) / 2), 100vw);
  grid-template-areas:
    "carousel carousel carousel carousel"
    "wl info tabs wr"
    "wl info main wr";
  row-gap: 1rem;
}

.adventure main .carousel-container {
  grid-area: carousel;
}
.adventure main .carousel-container .carousel-wrapper {
  margin-top: 1rem;
}
.adventure main .carousel-container > div:not(.fullbleed-wrapper) {
  box-sizing: border-box;
  max-width: calc(1200px - 2 * var(--section-padding));
  margin: 0 auto;
}

.adventure main .info-container {
  grid-area: info;
  padding: 0 var(--section-padding);
}

.adventure main .tabs-container {
  grid-area: tabs;
  padding: 0 var(--section-padding);
}

.adventure main div.section[data-tab] {
  grid-area: main;
  padding: 0 var(--section-padding);
}

/* FAQs */
@media (min-width: 800px) {
  .faqs main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 4rem;
  }

  .faqs .section.accordion-container {
    padding-right: 0;
  }
  .faqs .section.faqs-info {
    padding-left: 0;
    min-width: max-content;
    margin-top: 1.2em;
  }
}
